<!DOCTYPE html>
<html ng-app="" ng-controller="infoController">
<head lang="en">
    <meta charset="UTF-8">
    <script src="library/angular.min.js"></script>
    <link href="bootstrap/bootstrap.min.css" rel="stylesheet">
    <title>demo Controller</title>
</head>
<body>
<div style="padding-top:100px;">
</div>
<div class="container">
    <div class="col-md-6 col-md-offset-3">
        Tên: <input type="text" ng-model="ten"><br/>
        Nước: <select ng-model="countryModel">
                    <option ng-repeat="x in country">{{ x }}</option>
              </select>
        <p>
            Tôi tên là {{ ten }}, tôi đến từ {{ countryModel }}.
        </p>
    </div>
</div>

<script>
    function infoController($scope){
        $scope.ten = "John",
        $scope.country = ['Australia','England','VietNam','USA'],
        $scope.countryModel = 'England'
    }
</script>
</body>
</html>




